.navigation {
  &__checkbox {
    display: none;
    visibility:hidden;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 1rem 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port){
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone){
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $primary-color-light,
      $primary-color-dark
    );
    z-index: 1000;
    transition: transform 0.8s;

    @include respond(tab-port){
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone){
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;


    @include respond(phone){
      visibility: hidden;
      transition: all 0.3s;
    }
  }

  &__list {
    @include absoluteCenterAlign;
    list-style: none;
    text-align: center;
    
  }

  &__item {
    margin: $default-font-size;
  }

  &__link {
    &:visited,
    &:link {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-grey;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;

    @include respond(phone){
      visibility: visible;
    }
    
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px; //this value will not change
      background-color: $color-grey-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon{
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before{
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after{
    top: 0;
    transform: rotate(-135deg);
  }

}
